<div class="container-fluid">
  <div class="row p-0 mb-2 img-container">
    <img src="/assets/images/Capture4.PNG" style="width:100%" class="main-image">
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-3">
      <div class="card h-100">
        <img src="/assets/images/bread4.jpg" class="card-img-top img-fluid">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/products">Bread</a></h5>
          <p class="card-text">Eat right and eat healthy.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card h-100">
        <img src="/assets/images/vegetables.jpg" class="card-img-top img-fluid">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/products">Vegetables</a></h5>
          <p class="card-text">Eat right and eat healthy.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card h-100">
        <img src="/assets/images/fruits.jpg" class="card-img-top img-fluid">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/products">Fruits</a></h5>
          <p class="card-text">Eat right and eat healthy.</p>
        </div>
      </div>
    </div>
 
  </div>
  <div class="row justify-content-around pb-2">
    <div class="col-sm-3">
      <div class="card h-100">
        <img src="/assets/images/pulses.jpg" class="card-img-top img-fluid">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/products">Pulses</a></h5>
          <p class="card-text">Eat right and eat healthy.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card h-100">
        <img src="/assets/images/spices.jpg" class="card-img-top img-fluid">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/products">Spices</a></h5>
          <p class="card-text">Eat right and eat healthy.</p>
        </div>
      </div>
    </div>
  </div>
</div>