<h1>My Orders</h1>
<div class="container" *ngIf ="Order$ | async as orders">
    <ng-container *ngIf="orders.length ; else orderInfo">
        <div class="row">
            <div class="col">
            <input type="text" name="name" class="form-control" placeholder="title"
              [(ngModel)]="name">
            </div>
        </div>
        <br>
        <div class="row">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.shipping.name }}</td>
                <td>{{ order.datePlaced | date}}</td>
                <td><a href="#">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>
</ng-container>
</div>
  <ng-template #orderInfo>
    <p class="alert alert-info">You dont have any orders yet</p>
  </ng-template>
