nav{
  padding:0; 
}

nav > a {
  color:black;
  padding:1rem;
  text-decoration:none;
}

nav div> ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-family:cursive;
  font-weight: 400;
}


nav > a:hover {
  color: white;
  cursor:pointer;
  background-color:rgba(0,0,0,0.75);
}

.dropdown-item {
  color:black;
  cursor:pointer;
}

ul>li>a {
  color:black;
  padding:1rem;
  display:block;
}

ul>li>a:hover {
  color: white;
  cursor:pointer;
  background-color:rgba(0,0,0,0.75);
  display:block;
}

.dropdown-menu{
  position: absolute;
  z-index: 10;
}

.dropdown-toggle{
  cursor: pointer;
}

.fa-shopping-cart{
  color: limegreen;
}

.cart-item-link{
  position:relative;
  margin-right:1rem;
}

span {
  position:relative;
  top:-3px;

}
